.main span {
    font-weight: 600;
}

.main {
    color: var(--foreground);
}

.searchTerm {
    padding-bottom: 5px;
}
.searchField {
    padding-bottom: 2rem;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quoteCard {
    background-color: var(--background-purple);
    
    width: 30%;
    padding: 2rem;
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1050px) {
    .quoteCard {
        width: 45%;
    }
}
@media screen and (max-width: 720px) {
    .quoteCard {
        width: 100%;
        margin: .5rem;
    }
}


.author {
    font-family: var(--font-dancing-script);
    padding: 1rem;
    margin-left: auto;
}

.idLink {
    font-size: 1rem;
    margin: auto auto 0 auto;
    color: var(--foreground);
    text-decoration: none;
    background-color: var(--background);
    padding: 3px 15px;
    border-radius: 50px;
}

.idLink:hover, .idLink:focus {
    text-decoration: underline;
}