* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #272727;
  --greyText: #494949;
  --midGrey: #797979;
  --background-purple: #e9ade9; 
  --background-blue: #c5daff;
  --background-dark-blue: #075883;
  --pastelGradient: linear-gradient(0deg, rgba(164,229,175,1) 0%, rgba(229,238,128,1) 30%, rgba(226,157,199,1) 65%, rgba(132,202,216,1) 100%);
  --header-background: #1e7787;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272727;
    --foreground: #ffffff;
  }
}

body {
  min-height: 100vh;
  background: var(--background-blue); 
  background-image: url("../public/stars.jpg");
  background-size: cover;
  background-attachment: fixed;
  
}

main {
  width:1200px;
  min-height: 100vh;
  margin: auto;
  padding: 2rem;
  background-color: var(--background);
  font-family: roboto, sans-serif;
}

@media screen and (max-width: 1220px) {
  main{
     width: 98vw;
  }
}