.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground);
  background-image: url("../public/flowers-red.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.homePageQuote {
  font-style: italic;
  display: block;
}

.homePageQuoteBox {
  font-size: 1.5rem;
  padding-top: 2rem;
  display: block;
  padding-bottom: 1rem; 
}

.author {
  font-family: var(--font-dancing-script);
  display: block;
  float: right;
  padding: 1rem;
}

.quoteSearch {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 4rem;
  border: 5px solid #1970b3;
  border-radius: 15px;
  h2 {
    padding-bottom: 2rem;
  }
}

.mainPageLink {
  padding-top: 3rem;
  color: var(--foreground);
}






