.header {
    width: 1200px;
    min-height: 160px;
    margin: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background);
}

@media screen and (max-width: 1220px) {
    .header {
       width: 98vw;
    }
  }

  .header a {
    text-decoration: none;
  }

  .headerHeading {
    font-family: merienda;
    font-size: 4rem;
    color: var(--foreground);
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    margin-top: 1rem;
  }

  .nav {
    margin-bottom: 5px;
    margin-top: auto;
    padding: .5rem;
    font-family: roboto;
  }

  .navItem {
    padding: .5rem;
    margin: 2px;
    color: var(--background);
    border: 2px solid var(--header-background);
  }

  .navItem:hover {
    border: 2px solid var(--background);

  }