.header {
    width: 1200px;
    height: 150px;
    margin: auto;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 119, 135);
}

@media screen and (max-width: 1220px) {
    .header {
       width: 98vw;
    }
  }

  .header a {
    text-decoration: none;
  }

  .headerHeading {
    font-family: merienda;
    font-size: 4rem;
    color: var(--foreground);
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
  }