.poster {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.photo {
    width: 100%;
    height: auto;
}

.quoteContainer {
    position: absolute;
    bottom: 0px;
    width: 95%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 3vw, 2.5rem);
    color: #ffffff;
    text-shadow: 1px 2px #000000, 0 0 5px #000000;    
}

.quote {
    display: block;
}

.author {
    font-family: var(--font-dancing-script);
    padding: 1rem;
    margin-left: auto;
}

.saveButton {
    font-size: .9rem;
    padding: .5rem;
    margin: 5px;
    margin-top: 10px;
    border: 1px solid var(--foreground);
    background-color: var(--background-dark-blue);
    color: #ffffff;
    border-radius: 5px;
}

.saveButton:hover {
    background-color: var(--header-background);
}

.deleteButton {
    display: none;
    position: absolute;
    bottom: 3;
    right: 3;
    background-color: var(--button-purple);
    color: #ffffff;
    padding: 0.3rem;
    border: 1px solid var(--background);
    border-radius: 5px;
    
}

.poster:hover {
    .deleteButton {
        display: block;
    }
}